# Requirements for notebooks / Binderhub
matplotlib
pandas >= 1.5
xlrd
openpyxl
scipy
ipython
jupytext
statsmodels
sqlalchemy
# https://github.com/ProjectPythia/radar-cookbook/pull/84/files
# format-nongpl error for older jsonschema
jupyter_server<2
